:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #000000;
  --secondary-color: #a5acaf;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  text-align: center;
  font-family: var(--font-family);
}

main h1 {
  font-size: xx-large;
}

header, footer {
  margin: 20px;
  padding: 20px;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

section, article {
  padding: 10px;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
}

li {
  padding: 5px;
}

section, article {
  margin: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  padding: 10px;
}

.black {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.silver {
  background-color: var(--secondary-color);
}

figure {
  padding: 20px;
}