@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

* {
    margin: 0 auto;
    text-align: center;
    font-family: var(--secondary-font);
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
}

img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: white solid 5px;
    box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.2);
    margin: 20px;
}

.gallery {
    margin: 10px;
}

main h3 {
    margin: 10px;
}

.hide {
    display: none;
}

.menu {
    list-style: none;
    text-align: center;
}

.menu-button {
    background-color: transparent;
    color: var(--text-light);
    border: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 2rem;
}

.menu-button a {
    color: inherit;
}

.menu-button:hover {
    text-decoration: underline;
}

a {
    color: var(--text-light);
}

.viewer {
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    display: grid;
    grid-template-rows: auto 1fr;
    z-index: 10;
}

.close-viewer {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    grid-row: 1;
    text-align: center;
    padding: 10px;
}

.viewer img {
    max-height: 100%;
    width: 100%;
    grid-row: 2;
    object-fit: cover;
}

@media  (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media  (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
    }

    .menu-button {
        display: none;
    }

    .menu {
        display: flex;
    }

    .viewer {
        position: fixed;
        top: 10%;
        bottom: 10%;
        left: 10%;
        right: 10%;
    }

    .viewer img {
        max-height: 80vh;
        width: 100%;
    }

}
