@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --Gold-color: #efc69b;
    --Red-color: #af1b3f;
    --dark-color: #473144;
    --body-font: helvetica, arial, sans-serif;
    --headline-font: Lora, Impact, serif;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-color);
}

h1 {
    text-align: center;
    padding: 50px;
    font-size: 3rem;
    font-family: var(--headline-font);
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    justify-items: end;
    list-style: none;
    gap: 20px;
    border: solid 2px var(--Gold-color);
    border-left: none;
    border-right: none;
    padding: 20px;
}

.main-nav a {
    color: var(--Red-color);
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 1.5rem;
    /* max-width: 100%;
    margin: 0 auto; */
}

body {
    font-family: var(--body-font);
}

.container {
    display: grid;
    /* grid-template-columns: 70% 30%; */
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-columns: 300px 1fr; */
    grid-template-rows: auto;
    
}

.articles {
    grid-row: 1;
}

.filters {
    grid-row: 1;
    grid-column: 2;
    border: solid 2px var(--Gold-color);
    margin: 20px;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

article {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    padding: 20px;
}

.article-details {
    grid-row: 1;
    padding: 10px;
}

.article-content {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    padding: 10px;
}

.article-content img {
    margin-bottom: 10px;
    margin: 20px;
}

.article-content h2 {
    color: var(--Red-color);
    font-size: 2rem;
}

/* .article-content p {
    text-align: left;
} */

.skiptocontent a {
    position: absolute;
    top: -5px;
    left: 0; 
    background-color: var(--Gold-color);
    color: var(--dark-color);
  }
  
.skiptocontent a:focus {
    top: 0;
  }
  
