:root {

    --primary-color: #12429a;
    --primary-text-color: #fff;
    --secondary-text-color: black;
    --background-color: #eee;
    --link-color: #3c045b;

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-secondary: 'Arial', sans-serif;
    --font-size-large: 24px;
    --font-size-base: 16px;
    --font-weight-bold: 700;
}

/* Reset page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header,
footer {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
}

h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-secondary);
}

h2 {
    padding: 20px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

nav a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 1rem;
    font-size: var(--font-size-large);
}

nav a:hover {
    text-decoration: underline;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
}

/* testing menu js */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: var(--primary-text-color);
}

#menu.open::before {
    content: "X";
    color: var(--primary-text-color);
}

/* open class is toggled on 'click' */
.open a {
    display: block;
}

.active::before {
    content: "📍";
}

/* body */
body {
    font-family: var(--font-family-primary);
}

main {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.res-grid img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    box-shadow: 0px 0px 8px rgba(0.5, 0.5, .5, 0.5);
    margin-top: 20px;
}

.res-grid section {
    background-color: lightgray;
    padding: 20px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.res-grid section:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* add columns for images */

.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width: 900px) {
    .res-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 600px) {
    .res-grid {
        grid-template-columns: 1fr;
    }
}